nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    width: 50%;
    margin-left: 10%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: none;
}
li a{
    color: red;
    font-weight: 700;
}
.navbar-collapse{
    margin-left: 45%
}