main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-top: 5%;
}
.description{
    font-size: 35px;
    font-weight: 700;
    text-align: justify;
}
.title-social{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
li i{
    font-size: 35px;
    color: black;
}
li a{
     text-decoration: none;
}

@media (max-width:550px){
    main{
        grid-template-columns: 1fr;
    }    
}