<main class="container">
    <section>
        <p class="description">
            Meu nome é Igor de Jesus Santos.Possuo experiência na posição de front-end Developer onde auxiliei na construção de sites utilizando principalmente o framework Angular, além de HTML, CSS, Javascript, Typescript, GIt, Bootstrap, entre outros       
        </p>
    </section>
    <section class="container">
        <div class="div-img">
            <img src="./assets/imgs/foto.jpg" />
        </div>
        
        <p class="title-social">Redes Socias</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/igor-jsantos/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            <li><a href="https://github.com/IggorSantos" target="_blank"><i class="bi bi-github"></i></a></li>
            <li><a href="mailto:iggor.jsantos@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a></li>
        </ul>
    </section>
</main>
